In [97]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [98]:
property_sales = pd.read_csv("NYC_Property_Sales.csv")
air_quality_cleaned = pd.read_csv("air_quality_cleaned.csv")
crime_cleaned = pd.read_csv("crime_cleaned.csv")

In [99]:
print(property_sales)

       Unnamed: 0  BOROUGH   NEIGHBORHOOD  \
0               4        1  ALPHABET CITY
1               5        1  ALPHABET CITY
2               6        1  ALPHABET CITY
3               7        1  ALPHABET CITY
4               8        1  ALPHABET CITY
...           ...      ...            ...
84543        8409        5        WOODROW
84544        8410        5        WOODROW
84545        8411        5        WOODROW
84546        8412        5        WOODROW
84547        8413        5        WOODROW

                           BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  \
0      07 RENTALS - WALKUP APARTMENTS                                2A
1      07 RENTALS - WALKUP APARTMENTS                                 2
2      07 RENTALS - WALKUP APARTMENTS                                 2
3      07 RENTALS - WALKUP APARTMENTS                                2B
4      07 RENTALS - WALKUP APARTMENTS                                2A
...                                            ...                  ...
84543  02 TWO FAMILY DWELLINGS                                        1
84544  02 TWO FAMILY DWELLINGS                                        1
84545  02 TWO FAMILY DWELLINGS                                        1
84546  22 STORE BUILDINGS                                             4
84547  35 INDOOR PUBLIC AND CULTURAL FACILITIES                       4

       BLOCK  LOT EASE-MENT BUILDING CLASS AT PRESENT                 ADDRESS  \
0        392    6                                  C2            153 AVENUE B
1        399   26                                  C7   234 EAST 4TH   STREET
2        399   39                                  C7   197 EAST 3RD   STREET
3        402   21                                  C4     154 EAST 7TH STREET
4        404   55                                  C2  301 EAST 10TH   STREET
...      ...  ...       ...                       ...                     ...
84543   7349   34                                  B9           37 QUAIL LANE
84544   7349   78                                  B9        32 PHEASANT LANE
84545   7351   60                                  B2        49 PITNEY AVENUE
84546   7100   28                                  K6   2730 ARTHUR KILL ROAD
84547   7105  679                                  P9       155 CLAY PIT ROAD

       ... RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  \
0      ...                 5                 0            5              1633
1      ...                28                 3           31              4616
2      ...                16                 1           17              2212
3      ...                10                 0           10              2272
4      ...                 6                 0            6              2369
...    ...               ...               ...          ...               ...
84543  ...                 2                 0            2              2400
84544  ...                 2                 0            2              2498
84545  ...                 2                 0            2              4000
84546  ...                 0                 7            7            208033
84547  ...                 0                 1            1             10796

       GROSS SQUARE FEET YEAR BUILT TAX CLASS AT TIME OF SALE  \
0                   6440       1900                         2
1                  18690       1900                         2
2                   7803       1900                         2
3                   6794       1913                         2
4                   4615       1900                         2
...                  ...        ...                       ...
84543               2575       1998                         1
84544               2377       1998                         1
84545               1496       1925                         1
84546              64117       2001                         4
84547               2400       2006                         4

       BUILDING CLASS AT TIME OF SALE  SALE PRICE            SALE DATE
0                                  C2     6625000  2017-07-19 00:00:00
1                                  C7         -    2016-12-14 00:00:00
2                                  C7         -    2016-12-09 00:00:00
3                                  C4     3936272  2016-09-23 00:00:00
4                                  C2     8000000  2016-11-17 00:00:00
...                               ...         ...                  ...
84543                              B9      450000  2016-11-28 00:00:00
84544                              B9      550000  2017-04-21 00:00:00
84545                              B2      460000  2017-07-05 00:00:00
84546                              K6    11693337  2016-12-21 00:00:00
84547                              P9       69300  2016-10-27 00:00:00

[84548 rows x 22 columns]

In [100]:
#Clean missing values
property_sales_cleaned = property_sales.drop(columns=['EASE-MENT'])
property_sales_cleaned = property_sales_cleaned.replace('-', np.NaN)
property_sales_cleaned = property_sales_cleaned.replace(r'^\s*$', np.NaN, regex=True)
property_sales_cleaned = property_sales_cleaned.fillna(0)

In [101]:
print(property_sales_cleaned['NEIGHBORHOOD'].unique().size)
print(property_sales_cleaned['BUILDING CLASS CATEGORY'].unique().size)
print(property_sales_cleaned['TAX CLASS AT PRESENT'].unique().size)
print(property_sales_cleaned['BUILDING CLASS AT PRESENT'].unique().size)
print(property_sales_cleaned['ADDRESS'].unique().size)
print(property_sales_cleaned['TAX CLASS AT TIME OF SALE'].unique().size)
print(property_sales_cleaned['BUILDING CLASS AT TIME OF SALE'].unique().size)

254
47
11
167
67563
4
166

In [102]:
#Convert SALE DATE from datetime to two new columns SALE MONTH and SALE YEAR
property_sales_cleaned['SALE DATE'] = pd.to_datetime(property_sales_cleaned['SALE DATE'])
property_sales_cleaned['SALE MONTH'] = property_sales_cleaned['SALE DATE'].dt.month
property_sales_cleaned['SALE YEAR'] = property_sales_cleaned['SALE DATE'].dt.year
property_sales_cleaned.drop('SALE DATE', axis=1, inplace=True)

In [103]:
#Convert codes in property sales to borough names
borough_codes = {1: 'Manhattan', 2: 'Bronx', 3: 'Brooklyn', 4: 'Queens', 5: 'Staten Island'}
property_sales_cleaned['borough'] = property_sales_cleaned['BOROUGH'].apply(lambda x: borough_codes[x])
property_sales_cleaned.drop('BOROUGH', axis=1, inplace=True)

#Merge cleaned dataframes
property_sales_cleaned = property_sales_cleaned.merge(crime_cleaned, on='borough', how='left')
property_sales_cleaned = property_sales_cleaned.merge(air_quality_cleaned, on='borough', how='left')

#Rename columns to keep naming scheme
property_sales_cleaned.rename(columns={
    'violent_crime_count': 'VIOLENT CRIME COUNT', 'nonviolent_crime_count': 'NONVIOLENT CRIMECOUNT',
    'average_pm2.5': 'AVERAGE PM2.5', 'borough':'BOROUGH'
}, inplace=True)

In [104]:
#One-hot encode the categorical columns except address
property_sales_cleaned = pd.get_dummies(property_sales_cleaned, columns = [
    'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY', 'TAX CLASS AT PRESENT',
    'BUILDING CLASS AT PRESENT', 'TAX CLASS AT TIME OF SALE','BUILDING CLASS AT TIME OF SALE',
    'BOROUGH'
], dtype=float)
print(property_sales_cleaned)

       Unnamed: 0_x  BLOCK  LOT                 ADDRESS APARTMENT NUMBER  \
0                 4    392    6            153 AVENUE B                0
1                 5    399   26   234 EAST 4TH   STREET                0
2                 6    399   39   197 EAST 3RD   STREET                0
3                 7    402   21     154 EAST 7TH STREET                0
4                 8    404   55  301 EAST 10TH   STREET                0
...             ...    ...  ...                     ...              ...
84543          8409   7349   34           37 QUAIL LANE                0
84544          8410   7349   78        32 PHEASANT LANE                0
84545          8411   7351   60        49 PITNEY AVENUE                0
84546          8412   7100   28   2730 ARTHUR KILL ROAD                0
84547          8413   7105  679       155 CLAY PIT ROAD                0

       ZIP CODE  RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  \
0         10009                  5                 0            5
1         10009                 28                 3           31
2         10009                 16                 1           17
3         10009                 10                 0           10
4         10009                  6                 0            6
...         ...                ...               ...          ...
84543     10309                  2                 0            2
84544     10309                  2                 0            2
84545     10309                  2                 0            2
84546     10309                  0                 7            7
84547     10309                  0                 1            1

      LAND SQUARE FEET  ... BUILDING CLASS AT TIME OF SALE_Z0  \
0                 1633  ...                               0.0
1                 4616  ...                               0.0
2                 2212  ...                               0.0
3                 2272  ...                               0.0
4                 2369  ...                               0.0
...                ...  ...                               ...
84543             2400  ...                               0.0
84544             2498  ...                               0.0
84545             4000  ...                               0.0
84546           208033  ...                               0.0
84547            10796  ...                               0.0

       BUILDING CLASS AT TIME OF SALE_Z2 BUILDING CLASS AT TIME OF SALE_Z3  \
0                                    0.0                               0.0
1                                    0.0                               0.0
2                                    0.0                               0.0
3                                    0.0                               0.0
4                                    0.0                               0.0
...                                  ...                               ...
84543                                0.0                               0.0
84544                                0.0                               0.0
84545                                0.0                               0.0
84546                                0.0                               0.0
84547                                0.0                               0.0

       BUILDING CLASS AT TIME OF SALE_Z7  BUILDING CLASS AT TIME OF SALE_Z9  \
0                                    0.0                                0.0
1                                    0.0                                0.0
2                                    0.0                                0.0
3                                    0.0                                0.0
4                                    0.0                                0.0
...                                  ...                                ...
84543                                0.0                                0.0
84544                                0.0                                0.0
84545                                0.0                                0.0
84546                                0.0                                0.0
84547                                0.0                                0.0

       BOROUGH_Bronx  BOROUGH_Brooklyn  BOROUGH_Manhattan  BOROUGH_Queens  \
0                0.0               0.0                1.0             0.0
1                0.0               0.0                1.0             0.0
2                0.0               0.0                1.0             0.0
3                0.0               0.0                1.0             0.0
4                0.0               0.0                1.0             0.0
...              ...               ...                ...             ...
84543            0.0               0.0                0.0             0.0
84544            0.0               0.0                0.0             0.0
84545            0.0               0.0                0.0             0.0
84546            0.0               0.0                0.0             0.0
84547            0.0               0.0                0.0             0.0

       BOROUGH_Staten Island
0                        0.0
1                        0.0
2                        0.0
3                        0.0
4                        0.0
...                      ...
84543                    1.0
84544                    1.0
84545                    1.0
84546                    1.0
84547                    1.0

[84548 rows x 674 columns]

In [105]:
#Label-encode address
label_encoder = preprocessing.LabelEncoder()
property_sales_cleaned['ADDRESS'] = label_encoder.fit_transform(property_sales_cleaned['ADDRESS'])

In [106]:
print(property_sales_cleaned)

       Unnamed: 0_x  BLOCK  LOT  ADDRESS APARTMENT NUMBER  ZIP CODE  \
0                 4    392    6    14889                0     10009
1                 5    399   26    28592                0     10009
2                 6    399   39    22192                0     10009
3                 7    402   21    15090                0     10009
4                 8    404   55    35431                0     10009
...             ...    ...  ...      ...              ...       ...
84543          8409   7349   34    41385                0     10309
84544          8410   7349   78    37214                0     10309
84545          8411   7351   60    48075                0     10309
84546          8412   7100   28    33114                0     10309
84547          8413   7105  679    15264                0     10309

       RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS LAND SQUARE FEET  ...  \
0                      5                 0            5             1633  ...
1                     28                 3           31             4616  ...
2                     16                 1           17             2212  ...
3                     10                 0           10             2272  ...
4                      6                 0            6             2369  ...
...                  ...               ...          ...              ...  ...
84543                  2                 0            2             2400  ...
84544                  2                 0            2             2498  ...
84545                  2                 0            2             4000  ...
84546                  0                 7            7           208033  ...
84547                  0                 1            1            10796  ...

      BUILDING CLASS AT TIME OF SALE_Z0  BUILDING CLASS AT TIME OF SALE_Z2  \
0                                   0.0                                0.0
1                                   0.0                                0.0
2                                   0.0                                0.0
3                                   0.0                                0.0
4                                   0.0                                0.0
...                                 ...                                ...
84543                               0.0                                0.0
84544                               0.0                                0.0
84545                               0.0                                0.0
84546                               0.0                                0.0
84547                               0.0                                0.0

      BUILDING CLASS AT TIME OF SALE_Z3  BUILDING CLASS AT TIME OF SALE_Z7  \
0                                   0.0                                0.0
1                                   0.0                                0.0
2                                   0.0                                0.0
3                                   0.0                                0.0
4                                   0.0                                0.0
...                                 ...                                ...
84543                               0.0                                0.0
84544                               0.0                                0.0
84545                               0.0                                0.0
84546                               0.0                                0.0
84547                               0.0                                0.0

       BUILDING CLASS AT TIME OF SALE_Z9  BOROUGH_Bronx  BOROUGH_Brooklyn  \
0                                    0.0            0.0               0.0
1                                    0.0            0.0               0.0
2                                    0.0            0.0               0.0
3                                    0.0            0.0               0.0
4                                    0.0            0.0               0.0
...                                  ...            ...               ...
84543                                0.0            0.0               0.0
84544                                0.0            0.0               0.0
84545                                0.0            0.0               0.0
84546                                0.0            0.0               0.0
84547                                0.0            0.0               0.0

       BOROUGH_Manhattan  BOROUGH_Queens  BOROUGH_Staten Island
0                    1.0             0.0                    0.0
1                    1.0             0.0                    0.0
2                    1.0             0.0                    0.0
3                    1.0             0.0                    0.0
4                    1.0             0.0                    0.0
...                  ...             ...                    ...
84543                0.0             0.0                    1.0
84544                0.0             0.0                    1.0
84545                0.0             0.0                    1.0
84546                0.0             0.0                    1.0
84547                0.0             0.0                    1.0

[84548 rows x 674 columns]

In [107]:
property_sales_cleaned.to_csv("property_sales_cleaned.csv")