In [2]:
import pandas as pd

In [3]:
sales = pd.read_csv("property_sales_cleaned.csv")

In [4]:
sales.head()

,Unnamed: 0,BLOCK,LOT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,...,BUILDING CLASS AT TIME OF SALE_Z0,BUILDING CLASS AT TIME OF SALE_Z2,BUILDING CLASS AT TIME OF SALE_Z3,BUILDING CLASS AT TIME OF SALE_Z7,BUILDING CLASS AT TIME OF SALE_Z9,BOROUGH_Bronx,BOROUGH_Brooklyn,BOROUGH_Manhattan,BOROUGH_Queens,BOROUGH_Staten Island
0,0,392,6,14889,2,10009,5,0,5,1633,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1,399,26,28592,2,10009,28,3,31,4616,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,2,399,39,22192,2,10009,16,1,17,2212,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,3,402,21,15090,2,10009,10,0,10,2272,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,4,404,55,35431,2,10009,6,0,6,2369,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [5]:
len(sales.loc[sales['SALE PRICE'] !=0]['SALE PRICE'])

59759

In [6]:
len(sales.loc[sales['SALE PRICE'] ==0]['SALE PRICE'])

24789

In [7]:
final = sales.loc[sales['SALE PRICE']!=0] #Sales price != 0

In [8]:
x_columns = list(final.columns)
x_columns.remove('SALE PRICE')

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(final[x_columns], final['SALE PRICE'], test_size = 0.2)

In [10]:
from sklearn.ensemble import RandomForestRegressor

In [12]:
model = RandomForestRegressor()

In [13]:
model.fit(X_train, y_train)

RandomForestRegressor()

In [16]:
y_pred = model.predict(X_test)

In [18]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
mse

244119039678905.62

In [ ]:
test = sales.loc[sales['SALE PRICE']==0]
test.
test.columns[0:30]

Index(['Unnamed: 0', 'BLOCK', 'LOT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT', 'SALE PRICE',
       'SALE MONTH', 'SALE YEAR', 'VIOLENT CRIME COUNT',
       'NONVIOLENT CRIME COUNT', 'POPULATION',
       'VIOLENT CRIME COUNT PER CAPITA', 'NONVIOLENT CRIME COUNT PER CAPITA',
       'AVERAGE PM2.5', 'NEIGHBORHOOD_AIRPORT LA GUARDIA',
       'NEIGHBORHOOD_ALPHABET CITY', 'NEIGHBORHOOD_ANNADALE',
       'NEIGHBORHOOD_ARDEN HEIGHTS', 'NEIGHBORHOOD_ARROCHAR',
       'NEIGHBORHOOD_ARROCHAR-SHORE ACRES', 'NEIGHBORHOOD_ARVERNE',
       'NEIGHBORHOOD_ASTORIA', 'NEIGHBORHOOD_BATH BEACH'],
      dtype='object')

In [26]:
x_columns = list(sales.columns)
x_columns.remove('SALE PRICE')

In [16]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

In [15]:
sales['SALE PRICE', ]

0         6625000
1               0
2               0
3         3936272
4         8000000
           ...
84543      450000
84544      550000
84545      460000
84546    11693337
84547       69300
Name: SALE PRICE, Length: 84548, dtype: int64

In [17]:
model = SVC()